<h1>Visualization 7</h1>
<svg width="1500" height="700" font-family="sans-serif" font-size="10" text-anchor="middle">
<rect width = "1500" height = "700" fill = "#f4f4f4"></rect>
</svg>
<script src = "../js/new.js"></script>